<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Double-OCR</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div id="home-container">
    <div id="illustration">
      <img src="images/upload.svg" id="upload" alt="Error">
    </div>
    <div id="inner">
      <h1>2x + OCR = Double-OCR</h1>
      <p class="subtitle">Advanced Optical Character Recognition</p>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar">
        <button type="submit" class="cta">Convert</button>
      </form>
    </div>
  </div>
</body>
</html>